---
import type { ProductsData } from '@core/content/types'

const { data } = Astro.props as { data: ProductsData }
---

<section id="products" class="ui-section ui-section-odd">
  <section class="ui-section-container flow">
    <h2 class="ui-text-title-2">{data.title}</h2>
    {
      Object.values(data).map((product) => (
        <>
          <h3 class="ui-text-title-3">{product.title}</h3>
          <p>{product.text}</p>
          <a href={product.web}>
            <img src={product.image} alt={product.image_alt} width="378" height="542" />
          </a>
        </>
      ))
    }
  </section>
</section>
